<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3" th:if="${contact}">
			<div class="card-body">
				<div class="contaoner text-center">
					<h1>Show Contact Detail</h1>
					<div th:if="${session.message}" id="msg"
						th:classappend="${'alert-'+session.message.type}"
						class="container alert text-center" role="alert">
						<span th:text="${session.message.content}"></span>
						<th:block th:text="${#session.removeAttribute('message')}">
					</div>

					<img class="my-profil-picture" style="height: 200px; width: 200px;"
						th:src="@{'/images/'+${contact.image}}" alt="profile photo">
						
					<h3 class="mt-3">
						<span th:text="${contact.firstName}"></span>(<span
							th:text="${contact.lastName}"></span>)
					</h3>
					<h3 th:text="${contact.email}"></h3>
					<h3 th:text="${contact.phone}"></h3>

					<div class="description mt-3">
						<th:block th:utext="${contact.description}"></th:block>
					</div>

					<div class="container">
						<!-- delete -->

						<a th:href="@{'/user/delete/'+${contact.cId}}"
							class="btn btn-outline-danger"> <i class="fas fa-trash-alt"></i>
						</a>

						<!-- Edit -->
						<form th:action="@{'/user/edit/'+${contact.cId}}" method="post"
							class="mt-2">
							<button type="submit" class="btn btn-outline-primary">
								<i class="fas fa-edit"></i>
							</button>
						</form>
					</div>
				</div>
			</div>


		</div>
		<h2 class="text-center p-3 bg-danger text-white"
			th:unless="${contact}">You don't have permission to see this
			contact.</h2>

	</section>
	<script type="text/javascript">
	
	</script>
</body>
</html>