<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container text-center">
			<h1>User Profile</h1>
			<img class="my-profil-picture" style="height: 200px; width: 200px;"
				th:src="@{'/images/'+${user.imageUrl}}" alt="profile photo">
			<div class="card">
				<div class="card-body">
					<h2>
						User Id:-<span th:text="${user.id}"></span>
					</h2>
					<h2>
						User Name:-<span th:text="${user.name}"></span>
					</h2>

					<h2>
						User Email:-<span th:text="${user.email}"></span>
					</h2>
				</div>
			</div>

		</div>
	</section>
</body>
</html>