<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">


		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start Collecting your contacts in very smarter way. We provide
				very efficient and smarter way of handling contacts.</p>
			<p style="text-align: center;">A contact manager is a software program that enables users to
				easily store and find contact information, such as names, addresses,
				and telephone numbers.<br> They are contact-centric databases that
				provide a fully integrated approach to tracking all information and
				communication activities linked to contacts.</p>
			<button class="btn bg-primary btn-large text-white"><a href="/signup" style="color:white; text-decoration: none;">Get
				Started</a></button>
		</div>
	</section>

</body>
</html>