<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>change_password</title>
</head>
<body>

<section>

<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 240px;">
                    
                       <h3 class="mt-4">Enter New Password</h3>
                    
                        <form th:action="@{/change-password}" method="post">
                        
                        <div class="form-group">
                        <input type="text" name="newpassword" placeholder="Enter New Password Here" class="form-control" required="required">
                        
                        </div>
                        <div class="container text-center">
                        <button class="btn btn-primary">Change Password</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>