<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 240px;">
                    
                        <!--Email Form  -->
                     <div class="alert alert-success mt-2" role="alert">We have send OTP to your email..</div>
                      <!--message box  -->
                    <div th:if="${session.message}" class="container">
                    <div class="alert alert-danger my-2 text-center" role="alert">
                    <span th:text="${session.message}"></span>
                    
                    </div>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>
                    
                        <form th:action="@{/verify-otp}" method="post">
                        
                        <div class="form-group">
                        <input type="text" name="otp" placeholder="Enter OTP Here" class="form-control" required="required">
                        
                        </div>
                        <div class="container text-center">
                        <button class="btn btn-success">Verify</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>